<h2>{helpers Helpers}</h2>

<ul>
  <li>page.pathname = <%= page.pathname %></li>
  <li>page.locale = <%= page.locale %></li>
  <li>page.locales = <%= page.locales %></li>
  <li>i18n.getPageLocales = <%= i18n.getPageLocales(page.pathname) %></li>
  <li>i18n.href = <%- i18n.href(page.pathname) %></li>
</ul>
