<% if (currentPage == "index" || currentPage == ".") currentPage = "" %>
<% let pageLocales = getPageLocales() %>
<% if (pageLocales.length) { %>
  <select id="languageSelector" data-page="/<%= currentPage %>">
<% } %>
<% for (let pageLocale of pageLocales) { %>
  <% if (pageLocale != currentLocale) { %>
    <option value="<%= pageLocale %>"><%= pageLocale %></option>
  <% } else { %>
    <option value="<%= pageLocale %>" selected><%= pageLocale %></option>
  <% } %>
<% } %>
<% if (pageLocales.length) { %>
  </select>
<% } %>

<noscript>
  <ul>
    <% for (let pageLocale of pageLocales) { %>
      <% if (pageLocale != currentLocale) { %>
        <li>
          <a href="/<%= pageLocale %>/<%= currentPage %>"><%= pageLocale %></a>
        </li>
      <% } %>
    <% } %>
  </ul>
</noscript>